<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="sulekhapostings.JobsTest"/>
      <class name="sulekhapostings.TechjobsTest"/>
      <class name="sulekhapostings.NeedDaycareTest"/>
      <class name="sulekhapostings.roommatesTest"/>
      <class name="sulekhapostings.rentalsTest"/>
      <class name="sulekhapostings.LSTest"/>
      <class name="sulekhapostings.BuyandsellTest"/>
      <class name="sulekhapostings.DaycarepostingTest"/>
      <class name="sulekhapostings.CarsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
